<% provide(:title, 'FAQ') %>
<div class="row">
  <div class="span8 offset1 well">
    <h2>FAQ</h2>
    <dl>
      <dt>Why have you created this system?<dt>
      <dd>To allow download media files from different content provider 
          when local bandwidth is not enough, or aggressive throttling is 
          taking place.</dd><br>
      <dt>Which services do you support?</dt>
      <dd>At this time we support YouTube only, but later this can be 
          expanded to other services, such as Vimeo, VKontakte video, and 
          maybe even torrent protocol.</dd><br>
      <dt>How I can download my content?<dt>
      <dd>You can either download it from Downloads page, or get directly 
          from one of the hosts, where Collectors are deployed (in case of 
          bad link from home, for example).</dd>
    </dl>
  </div>
</div>
