<%= provide(:title, 'Login') %>
<div class="row-fluid">
  <div class="span6">
    <%= render :partial => 'users/register' %>
  </div>
  <div class="span6">
    <%= render :partial => 'sessions/new' %>
  </div>
</div>
