<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome to getmedia.com!</h3>
    <p>
      You have successfully signed up to getmedia.com. 
      In order to use full-featured version of the service,
      please confirm your Email address:
    </p>
    <p>
      To confirm the Email, just follow this link: <%= @confirm_url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
